.footer{
    &-link {
    @apply mx-3 text-sm;
    color: #6b6b6b;
        &:hover {
            @apply text-white;
        }
    }
    &-list {
        @apply py-6
    }
    img {
        @apply inline-block
    }
}
.wrap {
    @apply pt-4 pb-8 text-center;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    & iframe,
    & object,
    & embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    }
}
