<div class="footer">
    <div class="wrap">
      <img src="/wp-content/uploads/2020/03/w-logo-health.png" alt="logo">
      <div class="footer-list"><a href="#" class="footer-link">Email</a><a href="#" class="footer-link">Instagram</a><a href="https://www.facebook.com/threpsivitamins/" class="footer-link" target="_blank">Facebook</a></div>
    </div>
  </div>
